*{
    margin:0;
    padding:0;

}

@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,400&display=swap);
body {
    font-family:'rubik', sans-serif;
    background-color: #e5e5e5;

}

.header {
    display: flex;
    justify-content: flex-end;

}

nav{
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;

}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    padding: 20px;

}

.nav ul li a {
    text-decoration: none;
    color:#444345;
    font-weight: bold;
    opacity: 0.6;
  }

  nav ul li a:hover {
    opacity: 1;
}


.banner{

    display: flex;
    align-items:center;
    justify-content:center;
    padding: 15px;
    background:#ffffff;
    



}



.resume {
    width:50%;
    font-weight:100;
    margin-top: 25px;
    margin-bottom: 25px;


}

.btn {
    background-color:#867bfb;
    color:white;
    padding: 0.8em 2em;
    border-radius: 40px;
    text-decoration: none;
    font-weight:700;
    border: 0;
  }
  
  .btn:hover {
    background-color:#6f63f6;
    color:white;
    cursor: pointer;
    
  }

  .img-profile {
    border-radius: 50%;
  }

.titulo {
    font-size: 25pt;
    color:#444344;
}

.subtitulo {
    font-size:15pt;
    color: #6f63f6;


}

.container {
    display:flex;
    padding:30px;
    align-items: center;
    flex-direction: column;
}

.web{
    font-size:30px;
    color:#6f63f6;
   
}

.graphic{
    font-size:30px;
    color:#1c75bc;
}

.minibio{
    margin-top: 25px;
    font-size: 13pt;
}



.footer{
    background: white;
    
}

footer ul{
    
    
    padding:35px;
    text-align: center;
    display: flex;
    flex-direction:row;
    justify-content:center;
    
}

footer ul li {
    list-style:none;
}

.social{
    width: 20%;
    opacity: 0.4;
}

.social:hover{
    opacity: 1;
}

.artwork{
    width:30%;
}

.whatsappbtn{
    width: 60px;
    position: fixed;
    bottom: 300px;
    right: 30px;
    

}

.whatsappbtn:hover{
    cursor: pointer;
    transform: scale(1.1);
  transition: all 0.5s ease;
}


.section-works {
    max-width: 800px;
    margin:auto;
    text-align: center;
    padding: 80px;

   
  }
  
  .card {
    display: flex;
    flex-direction:column;

  }
  
  .card div img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgb(193, 192, 192);
    
  }
  .card div img:hover{
    box-shadow: 5px 5px 5px 5px rgb(230, 230, 230);
    transition: 0.8s;
  }
  
  .text-works {
    font-size: 2em;
    margin-bottom: 50px;
    font-weight: bold;
    color: #6f63f6;
  
  }
  
  .container-detail {
    text-align: center;
   
  }
  
  .container-detail p {
    margin-top:5px;
    padding: 10px;
    font-size: 20px;
  }
  
  .container-detail h2 {
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .link-portafolio{
   
    text-decoration: none;
  }